.box {
  @include center($large);
}
.box-col-2 {
  @include column(1/2, $gutter: 7);
  margin-top: 6rem;
  margin-bottom: 6rem;
  @include breakpoint($small-max) {
    @include stack();
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.col-action-3 {
  @include column(1/3);
  @include breakpoint($small-max) {
    @include stack();
    margin-bottom: 1rem;
  }
}
.col-2-nested {
  @include column(1/2, $cycle: 2);
  margin-bottom: 1rem;
  text-align: center;
  @include breakpoint($small-max) {
    @include column(1/3, $uncycle: 2, $cycle: 3);
    text-align: center;
  }
}
.container-buttons {
  @include center($xsmall);
}
.container-social-media {
  @include center(250px);
}
.col-2-buttons {
  @include column(1/2, $cycle: 2);
}
.col-4-buttons {
  @include column(1/4, $cycle: 4);
  text-align: center;
}
