@import 'variables';
@import 'jeet';
// @include edit ();
@import 'vendor/breakpoint/breakpoint';
@import 'columns';
@import 'header';
@import 'section-txt-img-plainbg';
@import 'section-txt-icons-picbg';
@import 'section-3-img-action';

body {
  font-family: $font-body;
  font-size: $font-small;
  line-height: 1.5rem;
  color: $color-dark;
  letter-spacing: .15rem;
  background-color: $color-light;
  @include breakpoint($small-max) {
    font-size: $font-xsmall;
  }
}
h2 {
  font-family: $font-heading;
  font-size: $font-large;
}
.line-separator{
  height:0;
  border-bottom:.12rem solid rgba($color-dark, .5);
  margin-bottom: 1.4rem;
  width: 7.5rem;
  @include breakpoint($small-max) {
    margin-left: auto;
    margin-right: auto;
  }
}
