#section-txt-icons-picbg {
  h2 {
    color: $color-light;
    line-height: normal;
    padding-bottom: 2rem;
  }
  p {
    color: $color-light;
    padding-top: 1rem;
  }
  .line-separator {
    border-color: rgba($color-light, .5);
  }
  .fa {
    color: rgba($color-light, .6);
    text-align: center;
    padding: 3rem;
  }
}
.section-txt-icons-picbg-img-bg {
  background-image: url(../img/img-2.jpg);
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: bottom;
  width: 100%;
  height: auto;
  @include breakpoint($small-max) {
    background-attachment: scroll;
    background-repeat: no-repeat;
  }
}
.section-txt-icons-picbg-content {
  padding-right: 3rem;
  @include breakpoint($small-max) {
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 5rem;
    text-align: center;
  }
}
.section-txt-icons-picbg-icons-container {
  @include breakpoint($small-max) {
    margin-top: 5rem;
  }
}
