#section-txt-img-plainbg {
  h2 {
    font-family: $font-heading;
    font-size: $font-large;
    padding: 1rem 0 2rem 0;
  }
}
.section-txt-img-plainbg-img-1 {
  border-radius: .5rem;
  margin-top: .5rem;
  display: block;
  width: 95%;
}
.section-txt-img-plainbg-content {
  padding-left: 1.5rem;
}
