//COLOR PALETTE
$color-main: #0061D1;
$color-secondary: #0092BA;
$color-dark: #333333;
$color-light: whitesmoke;
$color-third: #FFEAB3;
$color-fourth: #FFC47A;

//TYPOGRAPHY
@import url(http://fonts.googleapis.com/css?family=Lobster|Arimo:400,700);
$font-heading: 'Lobster', cursive;
$font-body: 'Arimo', sans-serif;
$font-large: 4rem;
$font-medium: 1.3rem;
$font-standard: 1rem;
$font-small: .75rem;

//BUTTONS
.button-1 {
  font-family: $font-body;
  font-size: $font-standard;
  padding: .9rem .65rem .65rem .65rem;
  border: .18rem solid $color-light;
  border-radius: .5rem;
  text-transform: uppercase;
  color: $color-light;
  text-align: center;
  text-decoration: none;
  transition: all 350ms ease;
  cursor: pointer;
    &:hover {
      background: rgba($color-light,0.2)
    }
}
