//COLOR PALETTE
$color-main: #0061D1;
$color-secondary: #0092BA;
$color-dark: #555555;
$color-light: whitesmoke;
$color-third: #FFEAB3;
$color-fourth: #FFC47A;

//TYPOGRAPHY
@import url(http://fonts.googleapis.com/css?family=Lobster|Arimo:400,700);
$font-heading: 'Lobster', cursive;
$font-body: 'Arimo', sans-serif;
$font-xlarge: 4rem;
$font-large: 2rem;
$font-medium: 1.3rem;
$font-small: 1rem;
$font-xsmall: .75rem;

//SIZES
$xlarge: 1680px;
$large: 1280px;
$medium: 980px;
$small: 736px;
$xsmall: 480px;

//BREAKPOINT SIZES (MEDIA QUERIES)
$xlarge-max: max-width 1680px;
$large-max: max-width 1280px;
$medium-max: max-width 980px;
$small-max: max-width 736px;
$xsmall-max: max-width 480px;

//BUTTONS
.button-1 {
  padding: .9rem .65rem .65rem .65rem;
  border: .18rem solid $color-light;
  border-radius: .5rem;
  text-transform: uppercase;
  color: $color-light;
  text-align: center;
  text-decoration: none;
  transition: all 350ms ease;
  cursor: pointer;
    &:hover {
      background: rgba($color-light,0.2)
    }
}
.button-2 {
  padding: .9rem .65rem .65rem .65rem;
  border: .18rem solid $color-dark;
  border-radius: .5rem;
  text-transform: uppercase;
  color: $color-dark;
  text-align: center;
  text-decoration: none;
  transition: all 350ms ease;
  cursor: pointer;
    &:hover {
      background: rgba($color-dark,0.2)
    }
}
